body {
	background:tan;
	font-family: "CENTURY GOTHIC";
	color:#A0522D;
	padding: 0px 0px;
	margin: auto;
}

p {
	background: #FFF8DC;
	color: #A0522D;
	padding:2px 0px;
	font-family: "letter gothic";
	margin: 0px auto 0px;
	text-align: center;
}
h2 {
	color:sienna;
	margin: 10px;
	padding: 5px auto;
	border-style: double;
	text-align: center;
	border-radius: 5px;
}
.virs {
	margin: 0px 10px 10px 10px;
}
.virs2 {
	border-style: double;
	border-radius: 5px;
	font-size: 2em;
	padding: 0px auto;
	text-align: center;
	max-width: 1050px;
	margin: 5px 5px 0;
	color: sienna;
	border-radius: 5px;
	background: moccasin;
}
.ih {
	color:sienna;
	margin: 10px 10px;
	padding: 5px;
	text-align: center;
	border-style: dotted;
	border-radius: 5px;
}
h3 {
	margin: 10px auto 5px;
	justify-content: center;
	text-align: center;
	color: saddlebrown;

}
a {
	color:mediumturquoise;
	margin:0px auto;
}
.link1 {
	background-image: url("bides/gif2.gif");
	display: inline-block;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	border-radius: 50%;
	font-family: "comic sans ms";
	border-color: moccasin;
	border-style: groove;
	
}

.link1cent {
	margin: 0 auto;
	text-align: center;
}
.link2 {

	padding: 0px auto 5px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	background: moccasin;
	
}
iframe, video {
	height: 293px;
	width: 100%; 
	margin: 0px 0px 0px 0px;

}

img {
	background: bisque;
}
ol {
	background: #FFF8DC;
	text-align: center;
	list-style-type: none;
	padding: 0px;
	margin: 0;
}
ul {
	background: #FFF8DC;
	text-align: center;
	list-style-type: none;
	padding: 0px;
	margin: 0;

}
.ifr {
	max-width: 1050px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3,auto);
	grid-gap: 5px;
	margin: 0 auto;
	padding: 0 5px 5px 5px;
	
}
.z{
	grid-column: 2;
	width: 100%;
	height: 100%;
	grid-row: 1/span 2;
	object-fit: cover;
	border-radius: 5px;
	
}
.x {
	grid-row: 3;
	width: 100%;
	height: 293px;
	grid-column:1/span 2;
	object-fit: cover;
	border-radius: 5px;
}
.c {
	grid-column: 1;
	grid-row: 1;
	object-fit: contain;
	overflow: hidden;
	background: black;
	border-radius: 5px;
}
.v{
	grid-column: 1;
	grid-row: 2;
	object-fit: contain;


}
.sec {
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid transparent;
	font-size: 0;
}
.kl1 {
	background: moccasin;
	max-width: 900px;
	
	text-align: center;
	margin: 20px auto;
	padding: 10px 0;
	border-radius: 10px;
	border-style: ridge;
	border-color: burlywood;
}
.kl2 {
	background: cornsilk;
	max-width: 900px;
	box-sizing: border-box;
	text-align: center;
	margin: 20px auto 5px;
	padding: 0px;
	border-radius: 10px;
	border-style: ridge;
	border-color: burlywood;
}
.p2new {
	border-style: ridge;
	border-color: burlywood;
	text-align: center;
	border-radius: 10px;
	padding: 0;
	margin: 0 auto 10px;
	background: cornsilk;
	max-width: 900px;
	box-sizing: border-box;
}
.fortd {
	background: cornsilk;
}
.bz {
	width: 20%;
	border-radius: 10px;
}
.bzt {
	font-size: 250%;
}
.lod {
	border-style: ridge;
	border-radius: 10px;
	border-color: burlywood;
	height: 20px;
	width: 700px;
	margin: 0 auto 20px;
	overflow: hidden;
	background: moccasin;
	
}
@keyframes loading {
	from {transform: translateX(-110%);}
	to {transform: translateX(710px);}
}
.lodbr {
	height: 20px;
	width: 60px;
	background-image: url("bides/gif2.gif");
	border-radius: 6px;
	transform: translateX(-110%);
	animation: 3.5s ease-in-out 0s infinite alternate forwards loading;
	border-style: solid;
	border-color: rosybrown;
	border-width: 0.5px;
	box-sizing: border-box;

}
.link11 {
	height: 30px;
	width: 60px;
	display: inline-block;
	text-align: center;
}
.bzq {
	font-size: 17px;
}