body {
	background:tan;
	font-family: "CENTURY GOTHIC";
	color:#A0522D;
	padding: 0px 0px;
	margin: auto;
}
p {
	background: #FFF8DC;
	color: #A0522D;
	padding:2px 0px;
	font-family: "letter gothic";
	margin: 0px auto 0px;
	text-align: center;
}
h2 {
	color:sienna;
	margin: 10px;
	padding: 5px auto;
	border-style: double;
	text-align: center;
}
.virs {
	margin: 0px 10px 10px 10px;
}
.virs2 {
	border-style: double;
	font-size: 2em;
	padding: 0px auto;
	text-align: center;
	max-width: 1050px;
	margin: 5px auto 0px;
	color: sienna;
}
.ih {
	color:sienna;
	margin: 10px 10px;
	padding: 5px;
	text-align: center;
	border-style: dotted;
}
h3 {
	margin: 10px auto 5px;
	justify-content: center;
	text-align: center;
	color: saddlebrown;

}
a {
	color:mediumturquoise;
	margin:0px auto;
}
.link1 {
	background-image: url("bides/7UIS.gif");
	display: inline-block;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	border-radius: 50%;
	font-family: "comic sans ms";
	color: azure;
	border-style: groove;
	
}
.link1cent {
	margin: 0 auto;
	text-align: center;
}
.link2 {
	width: 100%;
	padding: 5px;
	text-align: center;
	margin-bottom: 20px;
	
}
iframe, video {
	height: 293px;
	width: 100%; 
	margin: 0px 0px 0px 0px;

}

img {
	background: bisque;
}
ol {
	background: #FFF8DC;
	text-align: center;
	list-style-type: none;
	padding: 0px;
	margin: 0;
}
ul {
	background: #FFF8DC;
	text-align: center;
	list-style-type: none;
	padding: 0px;
	margin: 0;

}
.ifr {
	max-width: 1050px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3,auto);
	grid-gap: 5px;
	margin: 0 auto;
	
}
.z{
	grid-column: 2;
	width: 100%;
	height: 100%;
	grid-row: 1/span 2;
	object-fit: cover;
	
}
.x {
	grid-row: 3;
	width: 100%;
	height: 293px;
	grid-column:1/span 2;
	object-fit: cover;
	
}
.c {
	grid-column: 1;
	grid-row: 1;
	object-fit: contain;
	overflow: hidden;
	background: black;
	
}
.v{
	grid-column: 1;
	grid-row: 2;
	object-fit: contain;
}
.kl1 {
	background: moccasin;
	max-width: 900px;
	
	text-align: center;
	margin: 20px auto;
	padding: 10px 0;
	border-radius: 10px;
	border-style: ridge;
	border-color: burlywood;
}
.kl2 {
	background: moccasin;
	max-width: 900px;
	
	text-align: center;
	margin: 20px auto;
	padding: 5px;
	border-radius: 10px;
	border-style: ridge;
	border-color: burlywood;
}